<server description="Sample Liberty server">

    <featureManager>
        <feature>microProfile-1.4</feature>
    </featureManager>

    <httpEndpoint  httpPort="${env.PORT}" httpsPort="9443"
                  id="defaultHttpEndpoint" host="*" />

    <!--<keyStore id="defaultKeyStore" password="Liberty" />-->

    <mpMetrics authentication="false" />

</server>
