<server description="Sample Liberty server">

    <featureManager>
        <feature>microprofile-1.3</feature>
    </featureManager>

    <httpEndpoint  httpPort="${env.PORT}" httpsPort="9443"
                  id="defaultHttpEndpoint" host="*" />

    <quickStartSecurity userName="duke" userPassword="duke"/>

    <keyStore id="defaultKeyStore" password="Liberty"/>

</server>
